<header class="header-container">
  <div class="upper-container">
    <div class="title-container">
      <img
        src="/static/images/original.jpeg"
        alt="Diary App Icon"
        width="auto"
        height="auto"
        id="app-icon"
      />

      <h1 id="title">Address Book</h1>
    </div>

    <div class="clock-container">
      <span id="time-display"></span>
      <span id="date-display"></span>
    </div>
  </div>

  <div class="nav-container">
    <a href="/index.html" class="nav-button">Home</a>
    <a href="/pages/auth/signUp.html" class="nav-button">Sign Up</a>
    <a href="#" class="nav-button">Login</a>
    <a href="/pages/about.html" class="nav-button">About</a>
    <a href="#" class="nav-button">Support</a>
  </div>
</header>