.user-form,
.form-body,
.form-row,
.form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-form,
.form-row {
  width: 100%;
}

.user-form {
  flex-grow: 1;
}

.user-form,
.form-body {
  justify-content: space-evenly;
}

.form-body {
  background-color: var(--secondary);
  width: 30%;
  height: 450px;
  border: 2px solid var(--accent);
  border-radius: 2rem;
  box-shadow: 2px 2px 10px var(--accentHover);
}

.form-row {
  flex-direction: row;
}

.form-buttons {
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
}

.form-title {
  font-weight: bold;
  font-style: italic;
  font-size: 1.2rem;
  color: var(--foreground);
  text-shadow: 2px 2px 5px var(--accentHover);
  margin: 1.5rem auto;
}

.input-label {
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  color: var(--foreground);
  width: 30%;
  text-align: center;
  margin-right: 1rem;
}

.user-input,
.form-button {
  font-weight: normal;
  font-style: normal;
  font-size: 0.8rem;
  color: var(--foreground);
  width: 50%;
  text-align: center;
  border: 2px solid var(--accent);
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: transparent;
  box-shadow: 0 0 5px var(--accentHover);
  transition: all 0.4s ease-in;
}

.user-input,
.form-button,
.user-input:hover,
.form-button:hover,
.user-input:focus,
.form-button:focus {
  outline: none;
}

.user-input:hover,
.form-button:hover {
  transition: all 0.4s ease-out;
  font-weight: bold;
  font-style: italic;
  border: 2px solid var(--accentHover);
  box-shadow: 2px 2px 3px var(--accentHover);
}

.user-input:focus,
.form-button:focus {
  border: 2px dashed var(--accentHover);
}

.form-button {
  width: 150px;
  height: 40px;
}

.form-button:hover {
  transition: all 0.4s ease-out;
}
